* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background: black;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clock {
    position: relative;
    width: 40vw;
    height: 40vw;
    background-color: rgb(32, 39, 45);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 5px 10px rgba(140, 204, 20, 0.8), -1px -5px 10px rgba(193, 118, 19, 0.8);
}

.num {
    position: absolute;
    color: aliceblue;
    inset: 20px;
    text-align: center;
    transform: rotate(calc(30deg*var(--v)));
}

.num b {
    transform: rotate(calc(-30deg*var(--v)));
    /* rotates the display number */
    display: inline-block;
    font-size: 25px;
}

.dot {
    position: absolute;
    width: 7%;
    height: 7%;
    background-color: black;
    border-radius: 50%;
    background-color: rgb(32, 39, 45);
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.8), -1px -2px 10px rgba(0, 0, 0, 0.8);
    /* sends the hands of the clock behind the dot */
    z-index: 2;
}

.digi-clock {
    position: absolute;
    width: 30%;
    height: 10%;
    background-color: black;
    bottom: 23%;
    background: transparent;
    box-shadow: inset 1px 2px 10px rgba(0, 0, 0, 0.8), -1px -2px 10px rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8%;
    font-size: 25px;
    color: white;
}

.dhours {
    color: rgb(72, 196, 218);
}

.dminutes {
    color: rgb(72, 218, 164);
}

.dseconds {
    color: rgb(218, 72, 121);
}

.hour-hand, .min-hand, .sec-hand {
    position: absolute;
    background: black;
    border-radius: 20px;
    /* aligns the hands of the clock to the center */
    transform-origin: bottom;
}

.hour-hand {
    width: 1%;
    height: 28%;
    top: 22.5%;
    background-color: rgb(72, 196, 218);
}

.min-hand {
    width: 1%;
    height: 37%;
    top: 13.5%;
    background-color: rgb(72, 218, 164);
}

.sec-hand {
    width: 1%;
    height: 40%;
    top: 10.5%;
    background-color: rgb(218, 72, 121);
}

@media (max-wdith:760px) {
    .clock {
        width: 80vw;
        height: 80vw;
    }

    .num {
        font-size: 6vw;
    }

    .digi-clock {
        font-size: 4vw;
    }
}